{
  // I want to use babel-eslint for parsing!
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    // I write for browser
    "browser": true,
    // in CommonJS
    "node": true
  },
  plugins: [
    "react",
    "import"
  ],
  // To give you an idea how to override rule options:
  "rules": {
    "no-tabs": 0,
    # "react/sort-comp": [0],
    "no-case-declarations": 0,
    "prefer-default-export": 0,
    "no-else-return": 0,
    "comma-dangle": ["error", "never"],
    "indent": ["error", "tab", { "SwitchCase": 2 }],
    "react/jsx-indent": [1, 'tab'],
    "react/prefer-stateless-function": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": false, "optionalDependencies": false, "peerDependencies": false}]
  }
}
