.artwork-wrapper-feed {

	width: 200px;
	height: 200px;
	.sk-spinner {
		color: white;
	}

	position: relative;

	.feed-cover-buttons-container {
		position: absolute;
		display: none;
		width: 100%;
		height: 100%;
		top: 0;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.52);

		.current-icon-container {
			.artwork-play {
				width: 50px;
				height: 50px;
				border: 3px solid white;
				border-radius: 10000px;
			}
		}
	}
	&:hover {
		cursor: pointer;
		.feed-cover-buttons-container {
			display: flex;
		}
	}
}

.artwork-wrapper {
	.sk-spinner {
		color: white;
	}

	position: relative;
	margin: 1em 0;

	.ranking-header {
		position: absolute;
		color: white;
		letter-spacing: -1px;
		background: rgb(0, 0, 0); /* fallback color */
		background: rgba(0, 0, 0, 0.7);
		padding: 7px;
	}

	.artwork-icon {
		width: 125px;
		&:hover {
			cursor: pointer;
		}
	}

	.artwork-play {
		position: absolute;
		display: flex;
		justify-content: center;
		width: 42px;
		height: 42px;
		top: 43px;
		left: 43px;
		background-color: rgba(0, 0, 0, 0.52);
		border-radius: 3px;
	}
}
