

.artwork-wrapper {
	.sk-spinner {
		color: white;
	}

	position: relative;
	// margin: 1em 0;

	.ranking-header {
		position: absolute;
		color: white;
		letter-spacing: -1px;
		background: rgb(0, 0, 0); /* fallback color */
		background: rgba(0, 0, 0, 0.7);
		padding: 7px;
	}

	.artwork-icon {
		width: 125px;
		&:hover {
			cursor: pointer;
		}
	}

	.artwork-play {
		position: absolute;
		display: flex;
		justify-content: center;
		top: 3.0rem;
		left: 2.9rem;
		background-color: rgba(0, 0, 0, 0.52);
		border-radius: 3px;
	}
}
