.info-dropdown-container {
  // display: none;
  .hover-on-element {
    position: relative;
    &:hover {
      cursor: pointer;
      .info-dropdown {
        display: block;
      }
    }

    .info-dropdown {
      // display: none;
      position: absolute;
      top: 20px;

      border: 2px solid red;
      border-radius: 5px;
      background: black;
      width: 150px;
      height: 150px;
      z-index: 1000;

      .info-dropdown-content {

      }


    }
  }
}
