.main-content {
	padding-left: 7em;
}

.bc-menu {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.side-nav-item {
	font-family: 'Quicksand', sans-serif;
}

.main-content {
	font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Quicksand', sans-serif;
}

.login-logout-container {
	font-family: 'Quicksand', sans-serif;
}
