@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import 'util';
$banner-background-color: #2e3740;
$sidebar-width: 170px;

body {
	background: whitesmoke;
	font-family: 'Quicksand', sans-serif;
}

.help-page {
	padding: 1em;
}

.feed-banner {
	width: 15em;
	.Dropdown-root {
		width: auto;
	}
}


.side-nav-container {
	height: 100%; /* 100% Full-height */
	width: $sidebar-width; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 100000; /* Stay on top */
	top: 0;
	left: 0;
	background-color: #292b2c; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */

	.side-nav {
		.side-nav-item {
			@include flexin();
			justify-content: center;
			width: 140px;
			text-align: left;
			height: 50px;
	    margin-bottom: 20px;
	    margin-left: 10px;

			.side-nav-item-caption {
				color: white;
				text-decoration: none;
				font-size: 16px;
			}

			&:hover {
				cursor: pointer;
			}

			.logged-in-user-avatar-container {
				width: 40px;
				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}
	// transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


.user-home {
	a {
		color: black;
		text-decoration: none;
	}
	.user-home-content {
		display: flex;
		margin: 2em;
		flex-grow: 2;

		.user-choice {
			display: flex;
	    flex-direction: column;
	    margin: .5em 0;
	    text-align: center;
	    justify-content: center;
	    border: solid #d9534f 1px;
	    box-shadow: 0px 0px 3px 4px $banner-background-color;
	    min-height: 170px;
		}
	}
	.user-home-banner {
		.avatar-container {
			width: 70px;
			margin: .5em;
			img {
				width: 100%;
				border-radius: 10px;
			}
		}
		display: flex;
		flex-direction: column;
		align-items: center;
		background: ghostwhite;
    border-radius: 50px;


	}
}


.Dropdown-menu {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(0,0,0,0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
		&:hover {
			cursor: pointer;
		}
}

.Dropdown-option {
    box-sizing: border-box;
    color: rgba(51,51,51,0.8);
    cursor: pointer;
    display: block;
    padding: 8px 10px;
		&:hover {
			cursor: pointer;
			background: whitesmoke;
		}
}

.Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    outline: none;
    padding: 8px 52px 8px 10px;
    transition: all 200ms ease;
		&:hover {
			cursor: pointer;
		}
}

.Dropdown-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 10px;
    top: 14px;
    width: 0;
		&:hover {
			cursor: pointer;
		}
}

.like-icon-container {
	width: 30px;
	height: 30px;
	background: whitesmoke;
  border-radius: 10px;
	&:hover{
		cursor: pointer;
	}
	.like-icon {
		width: 100%;
		height: 100%;
	}

	.likes-display {
		font-size: 0.8em;
    text-align: center;
	}
}

.pagination-button-container {
	margin-bottom: 3em;
}





.login-logout-container {
	color: white;
	margin: 0 2em;
	text-decoration: none;
	&:hover {
		cursor: pointer;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

}

.modal-container {
	height: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.ff-welcome-text-container {
		.ff-welcome-text {
			text-align: center;
		}
	}

	.fb-login-container {
		width: 70%;

		&:hover {
			cursor: pointer;
		}
		.login-out-img {
			width: 100%;
			height: auto;
	    max-height: 35px;
		}
	}
}



.navbar-brand {
	.logo-container {
		width: 6em;
		img {
			max-width: 100%;
			height: auto;
		}
	}
}

.bc-menu {
	display: block;
	padding: 0;
	z-index: 200000;

	.burn-cartel-player-container.desktop {
		padding: .2em .8em;
    border-top: 1px solid black;
		.burn-cartel-player {
			@include flexin();
			.burn-cartel-player-details-container {
				@include flexin();
				height: 85px;
				width: 245px;
				.burn-cartel-player-details {
					@include flexin();
					.track-details {
						@include flexin();
						.artwork-wrapper {
							width: 75px;
							img {
								max-width: 100%;
								height: auto;
							}
						}
						.track-details-text {
							text-align: left;
							padding: 10px;
							.track-name {
								color: white;
							}
							.track-artist {
								color: whitesmoke;
								font-size: 12px;
							}
							width: 150px;
						}
					}
				}

				.like-icon-container {
					width: 20px;
					height: 30px;
				}
			}

			.burn-cartel-player-control {
				@include flexin();
				flex-direction: column;
				.player-buttons {
					display: flex;
					align-items: center;
				}
			}


			.burn-cartel-player-control-extra {
				@include flexin();
			}
		}
	}

	.burn-cartel-player-container.mobile {
		border-bottom: 2px solid #1E2021;
		margin-bottom: .2em;
		padding: .2em .6em;

		.burn-cartel-player {
			@include flexin();

			.burn-cartel-player-details {
				flex: 1;
		    display: flex;
		    align-items: center;
		    justify-content: center;
				&:hover {
					cursor: pointer;
				}

				.dummy-icon {
					visibility: hidden;
				}
			}

			.track-top-details {
				font-size: 12px;
				text-decoration: none;

				.track-name {
			    font-weight: 700;
				}

				a {
					color: inherit;
				}
			}


			.burn-cartel-player-control {
				display: flex;
				flex-grow: 0;
			}
		}
	}

	.bottom-nav-icons {
		display: flex;
		justify-content: space-around;
		align-items: center;

		.logged-in-user-avatar-container {
			width: 35px;
			.loggin-in-user-avatar {
				width: 100%;
		    border-radius: 100px;

			}
		}

	}
}

.artwork-wrapper {

	position: relative;
	margin: 1em 0;

	.ranking-header {
		position: absolute;
		color: white;
		 letter-spacing: -1px;
		 background: rgb(0, 0, 0); /* fallback color */
		 background: rgba(0, 0, 0, 0.7);
		 padding: 10px;
	}

	.artwork-icon {
		width: 125px;
		&:hover {
			cursor: pointer;
		}
	}

	.artwork-play {
		position: absolute;
		width: 40px;
		top: 45px;
		left: 45px;



		&:hover {
			cursor: pointer;
			width: 50px;
			top: 40px;
			left: 40px;
		}
	}

}

.feed-container {
	margin-bottom: 10em;
	margin-top: 1.5em;
	.track-container{
		background: white;
		border: 1px solid #ccc;
		border-radius: 4px;
		padding: 20px;
		margin-bottom: 20px;



		.track-title {
			&:hover {
				cursor: pointer;
			}
		}


		.track-item-icons {
			display: flex;
			justify-content: space-around;
			.track-item-icon-container {
				width: 50px;
				&:hover {
					cursor: pointer;
				}
				.track-item-icon {
					width: 100%;
					height: 100%;
				}
			}
		}

	}
}

.bc-menu {
	color: white;
}

.bc-icon {
	max-height: 300px;

	margin: 0 auto; /* poor attempt at centering */

	// height: auto !important; /* overrides inline */
	// width: auto !important; /* overrides inline */

	max-width: 300px;
	display: inline;
	&:hover {
		cursor: pointer;
	}
}
//


.track-show {
	.track-banner {
		background: $banner-background-color;
		border: 2px solid black;
		border-radius: 20px;
		padding: 1em;
		color: aliceblue;

		a {
			color: lightgreen;
		}

		.track-item-icon {
			margin-right: 2em;
		}

		.clickable-banner-metadata {
			color: lightgreen;
			text-decoration: underline;
			display: flex;

			.tiny-avatar-container {
				width: 20px;
				margin-right: .5em;

				// a {
				// 	color: lightgreen;
				// }

				img {
					width: 100%;
					height: auto;
				}

			}
		}


		.track-banner-icons-container {
			display: flex;
			background: inherit;
			justify-content: flex-start;
	    align-items: center;
		}
	}
}




.nav-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

@media screen and (min-width:451px) /* Desktop */ {
  .container {
		left: 100px;
  }
	.user-home .user-home-content {
		display: block;
	}

	.help-page {
		position: absolute;
		left: 180px;
	}
	.login-logout-container {
		.login-logout-button {
			color: black;
		}
	}

	.desktop {
		background: #292b2c
	}
	.bg-inverse {
		background-color: white!important;
	}
}

// OVERWRITE BOOTSTRAP


/* if portrait mode is detected, rotate the entire site -90 degrees to hint rotating to landscape */
 @media (orientation: landscape) and (max-device-width: 451px) {
	 html {
		transform: rotate(-90deg);
		transform-origin: left top;
		width: 100vh;
		overflow-x: hidden;
		position: absolute;
		top: 100%;
		left: 0;
	}
}

.track-container {
	.thumbnail {
		display: flex;
		.caption {
			margin-left: 2em;
			margin-top: 1em;
			h3 {
				font-size: 1.35rem;
			}
		}
	}
}
