body {
	background: whitesmoke;
}

.track-container {
	.track-icons {
		display: flex;

		.sd-icon-container {
			width: 45px;
			.sd-icon {
				width: 100%;
				height: auto;
			}
		}
	}
}



.feed-container {
	margin-bottom: 5em;
	margin-top: 1.5em;
	.track-container{
		background: white;
		border: 1px solid #ccc;
		border-radius: 4px;
		padding: 20px;
		margin-bottom: 20px;
		.artwork-wrapper {

			position: relative;

			.artwork-icon {
				width: 200px;
				&:hover {
					cursor: pointer;
				}
			}

			.artwork-play {
				position: absolute;
				width: 50px;
				top: 75px;
				left: 75px;
				&:hover {
					cursor: pointer;
					width: 60px;
					top: 70px;
					left: 70px;
				}
			}

		}
		.track-title {
			&:hover {
				cursor: pointer;
			}
		}
		.fire-emoji-container {
			width: 50px;
			&:hover {
				cursor: pointer;
			}
			.fire-emoji {
				width: 100%;
				height: 100%;
			}
		}

	}
}

.bc-menu {
	color: white;
}

.bc-icon {
	max-height: 300px;

	margin: 0 auto; /* poor attempt at centering */

	// height: auto !important; /* overrides inline */
	// width: auto !important; /* overrides inline */

	max-width: 300px;
	display: inline;
	&:hover {
		cursor: pointer;
	}
}
//


.track-show {
	.track-banner {
		background: gray;
	}
}

.user-show {
	.user-banner {
		background: gray;
	}
}
