@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
body {
  background: whitesmoke;
  font-family: 'Quicksand', sans-serif; }

.help-page {
  padding: 1em; }

.feed-banner {
  width: 15em; }
  .feed-banner .Dropdown-root {
    width: auto; }

.user-home a {
  color: black;
  text-decoration: none; }
.user-home .user-home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2em; }
  .user-home .user-home-content .user-choice {
    display: flex;
    flex-direction: column;
    margin: .5em 0;
    text-align: center;
    border: solid black 2px;
    min-width: 250px; }
.user-home .user-home-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: ghostwhite;
  border-radius: 50px; }
  .user-home .user-home-banner .avatar-container {
    width: 70px;
    margin: .5em; }
    .user-home .user-home-banner .avatar-container img {
      width: 100%;
      border-radius: 10px; }

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch; }
  .Dropdown-menu:hover {
    cursor: pointer; }

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px; }
  .Dropdown-option:hover {
    cursor: pointer;
    background: whitesmoke; }

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease; }
  .Dropdown-control:hover {
    cursor: pointer; }

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0; }
  .Dropdown-arrow:hover {
    cursor: pointer; }

.like-icon-container {
  width: 40px;
  height: 40px;
  background: whitesmoke;
  border-radius: 10px; }
  .like-icon-container:hover {
    cursor: pointer; }
  .like-icon-container .like-icon {
    width: 100%;
    height: 100%; }

.pagination-button-container {
  margin-bottom: 3em; }

.login-logout-container {
  color: white;
  margin: 0 2em;
  text-decoration: none; }
  .login-logout-container:hover {
    cursor: pointer; }
  .login-logout-container a {
    color: inherit;
    text-decoration: none; }

.modal-container {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .modal-container .ff-welcome-text-container .ff-welcome-text {
    text-align: center; }
  .modal-container .fb-login-container {
    width: 70%; }
    .modal-container .fb-login-container:hover {
      cursor: pointer; }
    .modal-container .fb-login-container .login-out-img {
      width: 100%;
      height: auto;
      max-height: 35px; }

.navbar-brand .logo-container {
  width: 6em; }
  .navbar-brand .logo-container img {
    max-width: 100%;
    height: auto; }

.bc-menu {
  display: block;
  padding: 0; }
  .bc-menu:hover {
    cursor: pointer; }
  .bc-menu .burn-cartel-player-container {
    border-bottom: 2px solid #1E2021;
    margin-bottom: .2em;
    padding: .2em .6em; }
    .bc-menu .burn-cartel-player-container .burn-cartel-player {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center; }
      .bc-menu .burn-cartel-player-container .burn-cartel-player .burn-cartel-player-details {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center; }
        .bc-menu .burn-cartel-player-container .burn-cartel-player .burn-cartel-player-details:hover {
          cursor: pointer; }
        .bc-menu .burn-cartel-player-container .burn-cartel-player .burn-cartel-player-details .dummy-icon {
          visibility: hidden; }
      .bc-menu .burn-cartel-player-container .burn-cartel-player .track-top-details {
        font-size: 12px;
        text-decoration: none; }
        .bc-menu .burn-cartel-player-container .burn-cartel-player .track-top-details a {
          color: inherit; }
      .bc-menu .burn-cartel-player-container .burn-cartel-player .burn-cartel-player-control {
        display: flex;
        flex-grow: 0; }
  .bc-menu .bottom-nav-icons {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .bc-menu .bottom-nav-icons .logged-in-user-avatar-container {
      width: 35px; }
      .bc-menu .bottom-nav-icons .logged-in-user-avatar-container .loggin-in-user-avatar {
        width: 100%;
        border-radius: 100px; }

.artwork-wrapper {
  position: relative;
  margin: 1em 0; }
  .artwork-wrapper .ranking-header {
    position: absolute;
    color: white;
    letter-spacing: -1px;
    background: black;
    /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; }
  .artwork-wrapper .artwork-icon {
    width: 200px; }
    .artwork-wrapper .artwork-icon:hover {
      cursor: pointer; }
  .artwork-wrapper .artwork-play {
    position: absolute;
    width: 50px;
    top: 75px;
    left: 75px; }
    .artwork-wrapper .artwork-play:hover {
      cursor: pointer;
      width: 60px;
      top: 70px;
      left: 70px; }

.feed-container {
  margin-bottom: 10em;
  margin-top: 1.5em; }
  .feed-container .track-container {
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px; }
    .feed-container .track-container .track-title:hover {
      cursor: pointer; }
    .feed-container .track-container .track-item-icons {
      display: flex; }
      .feed-container .track-container .track-item-icons .track-item-icon-container {
        width: 50px; }
        .feed-container .track-container .track-item-icons .track-item-icon-container:hover {
          cursor: pointer; }
        .feed-container .track-container .track-item-icons .track-item-icon-container .track-item-icon {
          width: 100%;
          height: 100%; }

.bc-menu {
  color: white; }

.bc-icon {
  max-height: 300px;
  margin: 0 auto;
  /* poor attempt at centering */
  max-width: 300px;
  display: inline; }
  .bc-icon:hover {
    cursor: pointer; }

.track-show .track-banner {
  background: indianred;
  border: 2px solid black;
  border-radius: 20px;
  padding: 1em;
  color: aliceblue; }
  .track-show .track-banner a {
    color: white; }
  .track-show .track-banner .track-item-icon {
    margin-right: 2em; }
  .track-show .track-banner .track-banner-icons-container {
    display: flex;
    background: inherit;
    justify-content: flex-start; }

.user-show .user-banner {
  background: gray; }

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center; }

/*# sourceMappingURL=main.css.map */
