.track-container{
	.artwork-wrapper {

		position: relative;

		.artwork-icon {
			width: 200px;
			&:hover {
				cursor: pointer;
			}
		}

		.artwork-play {
			position: absolute;
			width: 50px;
			top: 75px;
			left: 75px;
			&:hover {
				cursor: pointer;
				width: 60px;
				left: 70px;
			}
		}

	}
	.track-title {
		&:hover {
			cursor: pointer;
		}
	}

}
